.tory-blue {
    color: #106494;
}

.tory-blue-bg {
    background-color: #106494;
}

.sea-green {
    color: #2E8B57;
}

.sea-green-bg {
    background-color: #2E8B57;
}

.vivid-violet {
    color: #7A378B;
}

.vivid-violet-bg {
    background-color: #7A378B;
}

.cardinal {
    color: #CD2626;
}

.cardinal-bg {
    background-color: #CD2626;
}

.emperror {
    color: #4F4F4F;
}

.emperror-bg {
    background-color: #4F4F4F;
}

.pizza {
    color: #CD950C;
}

.pizza-bg {
    background-color: #CD950C;
}